<!DOCTYPE HTML>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Welcome to the Site </title>
  <link rel="stylesheet" type="text/css" href="file:///Users/emilymould/Desktop/python/myproject/static/css/people.css">
  <ul>
      <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/index.html">Welcome</a></li>
      <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/about.html">About the Musicians</a></li>
  </ul>
</head>


<body>

<div id="buzz" class="text-center">
        <h2><small>The Buzz</small><br />What are people saying?</h2>
    
  <div id="buzz" class="text-center">
        <h2><small>The Buzz</small><br />What are people saying?</h2>

        <div class="row">
          <div class="col-sm-4">
            <img class="img-circle" src='images/person.jpg'>
            <blockquote>
              <p>These sandwiches are the best I've ever tasted, for sure. I now eat them every day - breakfast, lunch and dinner.</p>
              <small>Mr Smith, Professional Sandwich taster</small>
            </blockquote>
          </div>


  <div class="social-buttons">
    <a href="https://www.facebook.com" target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/facebook.png"></a>
              <a href="https://twitter.com/?lang=en-gb " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/Twitter.png"></a>
              <a href="https://www.pinterest.co.uk " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/pinterest.png"></a>
              <a href="https://www.linkedin.com/in/emily-mould-396a4735/ " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/linkedin.png"></a>
  </div>

  </body>
</html>





   