<!DOCTYPE HTML>
<html>

<head>

  <title> About the Musicians </title>
  <link rel="stylesheet" type="text/css" href="file:///Users/emilymould/Desktop/python/myproject/static/css/about.css">
  <ul>
    <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/index.html">Welcome</a></li>
    <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/about.html">About the Musicians</a></li>
  </ul>
</head>

<body>
<h1> About the Musicians </h1>

<p> Welcome to the site.</p>
  
<p> Feel free to peruse how this wonderful couple met, RSVP, tell what you'd like to boogie to on the dance floor and figure out where the wedding will be!</p>

<h2> Test </h2>

<div class="social-buttons">
  <a href="https://www.facebook.com" target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/facebook.png"></a>
            <a href="https://twitter.com/?lang=en-gb " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/Twitter.png"></a>
            <a href="https://www.pinterest.co.uk " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/pinterest.png"></a>
            <a href="https://www.linkedin.com/in/emily-mould-396a4735/ " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/linkedin.png"></a>
</div>

  </body>
</html>
