<!DOCTYPE HTML>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Welcome to the Site </title>
  <link rel="stylesheet" type="text/css" href="file:///Users/emilymould/Desktop/python/myproject/static/css/welcome.css">
  <ul>
      <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/index.html">Welcome</a></li>
      <li> <a href="file:///Users/emilymould/Desktop/python/myproject/templates/about.html">About the Musicians</a></li>
  </ul>
</head>


<body>

  <h1> Welcome! </h1>
  <p>This project focusses on the use of <b>Html</b> and <b>Python</b> to try and create a useable platform for indivduals wishing to book a function band.</p>
  <p> From the first course I have utlisied knowledge of HTML and CSS to make an athestically pleasing website with functionality. </p> 
  <p> On this page you can see the following demonstarted:</p>
<p> 
    <li> Top: The intergration of various HTML pages of this website</li>
</p>
<p>
  <li> Top: Spacing and Padding of pages, text and images</li>
</p>
<p>
  <li> Background: Full Screen image</li>
</p>
<p>
<li> Body: Demonstration of titles</li>
</p>
<p>
  <li> Forground: Demonstration of titles, paragraphs, lists and colours.</li>
</p>
<p>
<li> Forground: A sign-up up </li>
</p>
<p>
  <li> Bottom: The intergration of social buttons </li> 
</p>

  <h2> Please RSVP below </h2>
  <input type="text" placeholder="Your song choice">
  <input type="submit">


  <div class="social-buttons">
    <a href="https://www.facebook.com" target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/facebook.png"></a>
              <a href="https://twitter.com/?lang=en-gb " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/Twitter.png"></a>
              <a href="https://www.pinterest.co.uk " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/pinterest.png"></a>
              <a href="https://www.linkedin.com/in/emily-mould-396a4735/ " target="_blank "><img class="four " src="file:///Users/emilymould/Desktop/python/myproject/static/images/linkedin.png"></a>
  </div>

  </body>
</html>