<!DOCTYPE HTML>

  <html lang="en" dir="ltr">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Sample Playlists </title>
    <link rel="stylesheet" type="text/css" href="static/css/playlist.css">
 
  </head> 
 

<!-- NAVIGATION BAR BEGINS -->
  <body class ="body"> 
    <div id="navbar-container">
      <ul>
        <li> <a href="/">Musical Solutions </a></li>
        <li> <a href="/about">About the Musicians</a></li>
        <li> <a href="/playlist"> Sample Playlists</a></li>
      </ul>
    </div>


<!-- LANDING IMAGE CONTAINER -->
    <div class= "landingimage-container">
      <div class ="landing-text">
        <h1> Sample Playlists </h1>
      </div>
    </div>


<!-- CLASSICAL: ROW 1 CONTAINER AFTER IMAGE -->
    <div id="row1-container">
      <div class="column1-row1"> 
          <iframe src="https://open.spotify.com/embed/user/emily.mould/playlist/69M08ELTC1ExbZmoj7rSxU" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      
      <div class="column2-row1">
          <iframe src="https://open.spotify.com/embed/user/emily.mould/playlist/2yLt5JjBLEJlOT8bBkWici" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
      </div>

      <div class="column3-row1">
          <iframe src="https://open.spotify.com/embed/user/emily.mould/playlist/4mbwtY6qK261vf28AcHM0V" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div> 
  
    </div>
  

<!-- FOOTER -->
    <footer id="footer-container">
      <p> Copyright &copy; 2019 Emily Mould</p>
      <div class="social-buttons">
        <a href="https://www.facebook.com" target="_blank "><img class="four " src="static/images/facebook.png"></a>
        <a href="https://twitter.com/?lang=en-gb " target="_blank "><img class="four " src="static/images/Twitter.png"></a>
        <a href="https://www.pinterest.co.uk " target="_blank "><img class="four " src="static/images/pinterest.png"></a>
        <a href="https://www.linkedin.com/in/emily-mould-396a4735/ " target="_blank "><img class="four " src="static/images/linkedin.png"></a>
      </div>
    </footer>
  </body>
</html>